<form id="addTodo">
  <input id="todo_title" type='text' name="todo[title]">
  <input id="todo_description" type="text" name="todo[description]" placeholder="Description">
  <button>SUBMIT</button>
</form>
